* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

/*title + logo*/
header {
    background-color: white;
}

#logo {
    margin: 18px 5px 16px 16px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    vertical-align: middle;
}