* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f8f9;
}

/*title + logo*/
header {
    background-color: white;
}

#logo {
    margin: 18px 5px 16px 16px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-family: Helvetica, sans-serif;
    vertical-align: middle;
}

/*white rectangle*/
#rectangle {
    background-color: white;
    margin: 80px 320px 1px;
    width: 800px;
    border-radius: 5px;
}

/*buttons*/
#button-task {
    border-radius: 6px;
    width: 80px;
    height: 34px;
    height:class="triangle" 34px;
    background-color: #47adf1;
    color: white;
    border-color: #47adf1;
    border-style: solid;
}

#button-section {
    border-radius: 6px;
    width: 100px;
    height: 34px;
    background-color: white;
    color: #dee0e4;
    border-color: #dee0e4;
    border-style: solid;
}

.container {
    padding: 15px 60px;
}

